* {
  margin: 0px;
}

.app-container {
  max-width: 1020px;
  margin: auto;
  margin-top: 80px;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.inactive {
  opacity: 0.5;
}

.header-container {
  color: white;
  background-color: crimson;
  padding: 16px 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  width: 100%;
}

.header {
  justify-content: space-between;
  padding: 0px 60px;
}

.icon {
  position: relative;
}

.item-count {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  color: crimson;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-counter {
  min-width: 60px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.d-flex {
  display: flex;
}

.flex-col-wrapper {
  flex-direction: column;
}

.flex-row-wrapper {
  flex-direction: row;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

.flex-three {
  flex: 3;
}

.align-center {
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}

.px-20 {
  padding: 0px 20px;
}

.pa-16 {
  padding: 16px;
}

.pb-28 {
  padding-bottom: 28px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-20 {
  margin-right: 20px;
}


.box-shadow {
  -webkit-box-shadow: -2px 2px 24px 1px rgba(186,194,194,1);
-moz-box-shadow: -2px 2px 24px 1px rgba(186,194,194,1);
box-shadow: -2px 2px 24px 1px rgba(186,194,194,1);

}

.product-container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product {
  flex-basis: 27%;
  margin-bottom: 20px;
  padding: 20px 16px;
  align-self: stretch;
  border-radius: 5px;
}

.img-container {
  max-width: 100%;
  flex-grow: 1;
  min-width: 100px;
  min-height: 120px;
}

.cursor, .btn, input, label {
  cursor: pointer;
}

.filter {
  margin-top: 70px;
}

.btn {
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
}

.cart-container {
  justify-content: center;
  display: flex;
  min-height: 100vh;
}

.cart {
  max-width: 600px;
  margin: auto;
  margin-top: 70px;
}

.cart-item {
  border-bottom: 1px solid gainsboro;
}

.cart-img {
  width: 70px;
}

.search-box {
  margin: 20px 10px;
  padding: 6px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.search-box:focus {
  border-color: blue;
}

.hide, menu {
  display: none;
}

.filter-mobile {
  position: fixed;
  background: white;
  width: 200px;
  min-height: 100%;
}

.cart-summary .btn {
  margin: 0px;
}

.cart-summary {
  padding: 16px;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .filter-desktop {
    display: none;
  }

  .menu {
    display: block;
  }

  .product {
    flex-basis: 36%;
  }

  .header {
    padding: 0px 20px;
  }
}


